page-principal {

  .formulario{       
    padding: 1%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(245,191,55);
    
  }
  .contenido{
    background: radial-gradient(rgb(235,224,220) 0%,rgb(245,191,55) 200%);  

  }
  .headerCard{

    background-color: rgb(42,185,208);
  }
  .imagen{

    width: auto;
    height: auto;
  }

}

