page-principal {
 
   .formulario{       
        padding: 17px;
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgb(104,176,171);
        box-shadow: 0px 0px 40px #8FC0A9,0px 0px 80px green
      }
      .contenido{
      background-color: #FFFFFF;

      }

      .headerCard{

        background-color: #68B0AB;
      }
      #imagen{
      width: 400px;
      height: 160px;
      margin-top: -60px;
      margin-right: 100px;
      margin-left: -15px;
      margin-bottom: 30px;
      box-shadow: 0px 0px 40px #8FC0A9,0px 0px 80px  green
    
    }
   
     }

 